* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    border-radius: 10px;
}

.main_container {
    margin: 0 auto;
    padding: 5px;
    width: 50%;
    background-color: rgb(149, 149, 149);
    text-align: center;
}

.footer {
    margin: 10px auto;
    padding: 10px;
    width: 15%;
    background-color: rgb(104, 104, 104);
    text-align: center;
}

.footer ul {
    display:flex;
    gap: 20px;
    justify-content: center;
    font-size: 10px;
}

ul, ol {
    list-style-type: none;
}

.instructions {
    margin: 0 auto;
    padding: 5px;
    width: 50%;
    background-color: rgb(149, 149, 149);
    text-align: center;
}